// VARIABLES
// ----Taille de police----
$taille-police-general:16px;
$taille-titre-logo : 2.5rem;
$taille-police-prez-1: 1.8rem;

// ------TYPE DE POLICE---------
$typolice-Shrikhand-1:"Shrikhand", "Roboto", "Sans-serif";
$typolice-Shrikhand-2: "Roboto", "Sans-serif";
// ------------COULEUR-----------
$couleur-backg-general :rgb(238, 237, 237);
$couleursecondaire: #9356DC;
$couleurprimaire: #FF79DA;
$couleurprimaire: #99E2D0;